{% extends "layout.html" %}

{% block heading %}
    Login
{% endblock %}

{% block body %}
    {% if user %}
    <h2>You are logged in</h2>
    <p>You are logged in as <b>{{ user.email }}</b> <small>({{ user.id }})</small></p>
    {% else %}
    <h2>Existing user</h2>
    <p>Please enter your login information</p>
    <form action="{{ url_for('login') }}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input
                type="email"
                class="form-control"
                id="exampleInputEmail"
                aria-describedby="emailHelp"
                placeholder="Email"
                name="email"
                required
            >
            <small id="emailHelp" class="form-text text-muted">Enter your email.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input
                type="password"
                class="form-control"
                id="exampleInputPassword"
                aria-describedby="passwordHelp"
                placeholder="Password"
                name="password"
                required
            >
            <small id="passwordHelp" class="form-text text-muted">Enter your password.</small>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    
    {% endif %}
{% endblock %}